/* style.css */

/* Penyertaan warna putih untuk semua elemen teks */
body,
h1,
p,
button {
  color: #fff;
}

:root {
  --gradient: linear-gradient(90deg, rgba(0,123,255,1) 21%, rgba(0,191,255,1) 58%);
}

body {
  min-height: 100vh;
  background-color: #eaeaea;
  background-image: var(--gradient);
  background-size: 200%;
  animation: gradient-animation 5s infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* Kode CSS responsif untuk tampilan desktop */

/* Animasi typing */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animasi cursor berkedip */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

h1 {
  overflow: hidden; /* Mencegah teks terpotong saat animasi */
  border-right: .15em solid #fff; /* Efek cursor */
  white-space: nowrap; /* Mencegah teks wrapping */
  margin: 0 auto; /* Menengahkan teks */
  animation: typing 4s steps(40) 1s 1 normal both, blink-caret .75s step-end infinite;
}

/* Kode CSS responsif untuk tampilan perangkat seluler (hp) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px; /* Ukuran font yang lebih kecil untuk perangkat seluler */
  }
}


.wrapper .text {
  font-size: 60px;
  font-weight: 400;
}

.wrapper .dynamic-text {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-text li {
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: 360px;
  }
}

.container {
  max-width: 90%; /* Menggunakan maksimum 90% lebar layar */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.dropdown select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2,
.section p {
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* Memungkinkan tombol untuk melingkar saat kekurangan ruang */
  justify-content: center;
  gap: 10px;
}

button {
  background-color: #0004ff; /* Pertahankan warna tombol yang sudah ditentukan sebelumnya */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1; /* Tombol akan mengisi sebanyak mungkin ruang yang tersedia */
}

button:hover {
  background-color: #0056b3;
}

/* Warna untuk metode pembayaran */
#mandiriPayment {
  background-color: #2469a5; /* Warna latar belakang sesuai dengan yang diminta */
}

#mandiriPayment:hover {
  background-color: #1a5177; /* Warna latar belakang yang sedikit lebih gelap saat tombol dihover */
}

#ovoPayment {
  background-color: #4c2a86; /* Warna latar belakang sesuai dengan yang diminta */
}

#ovoPayment:hover {
  background-color: #39226b; /* Warna latar belakang yang sedikit lebih gelap saat tombol dihover */
}

#bniPayment {
  background: linear-gradient(to right, #e55300 0%, #0067 100%); /* Gradien dari #e55300 ke #0067 */
}

#bniPayment:hover {
  background: linear-gradient(to right, #cc4700 0%, #005b7f 100%); /* Gradien yang sedikit lebih gelap saat dihover */
}

#bcaPayment {
  background-color: rgb(25, 76, 177); /* Warna latar belakang sesuai dengan yang diminta */
}

#bcaPayment:hover {
  background-color: rgb(21, 64, 142); /* Warna latar belakang yang sedikit lebih gelap saat tombol dihover */
}

#briPayment {
  background-color: #014a94; /* Warna latar belakang sesuai permintaan */
}

#briPayment:hover {
  background-color: #003366; /* Warna latar belakang yang sedikit lebih gelap saat tombol dihover */
}

.footer {
  background: linear-gradient(to right, #0400ff9a, #001aff);
  padding: 20px 0;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 5px 0;
}

/* Responsiveness */
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer p {
    margin: 0;
  }
}
